/* General */

@font-face {
   font-family: 'PT Sans';
   src: url('fonts/pts55f_w.eot');
   src: local('PT Sans'), 
      url('fonts/PTS55F_W.woff') format('woff'),
      url('fonts/PTS55F_W.ttf') format('truetype'),
      url('fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}

body {
   margin: 0;
   padding: 0;
   background: url('img/noise.jpg') white repeat;
   font-family: 'PT San', sans-serif;
}

ol, li, ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

input:focus {
    outline: none;
}

/* Header */

header {
   width: 100%;
   background-color: #d83636;
   height: 42px;
   padding: 6px 0;

   background: #d83636; /* Old browsers */
   background: -moz-linear-gradient(top, #d83636 0%, #8e2323 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d83636), color-stop(100%,#8e2323)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #d83636 0%,#8e2323 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #d83636 0%,#8e2323 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #d83636 0%,#8e2323 100%); /* IE10+ */
   background: linear-gradient(top, #d83636 0%,#8e2323 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83636', endColorstr='#8e2323',GradientType=0 ); /* IE6-9 */
}


#logo {
   background: url('img/logo.png') no-repeat;
   height: 40px;
   width: 207px;
   margin-left: 12px;
}

/* Body */

#wrapper {
   max-width: 500px;
   width: 100%;
   margin: 0 auto;
}

/* Search */

#search-box {
   margin-top: 50px; /* This needs to be more dynamic */
   border: 1px solid #ccc;
   height: 40px;
   border-radius: 5px;
   background-color: white;
   padding-left: 10px;
}

#search-field {
   margin-top: 5px;
   border: none;
   font-size: 22px;
   width: 440px; /* there must be a better way */
}

#search-button {
   background: url("img/magnify.png") #eee no-repeat;
   background-position: center;
   border-left: #ccc 1px solid;
   height: 100%;
   width: 50px;
   float: right;
   width: 40px;
}

#search-button:active {
   background-color: #ddd;
}

/* Results */

#results {
   max-height: 300px;
   overflow-y: auto;
   margin-top: 25px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

#results:empty {
   border: none;
}

#results li {
   height: 75px;
   border-bottom: 1px #ddd solid;
   border-right: 1px #ddd solid;
   background: url('img/noartist.png') white no-repeat;
   background-size: 75px;
}

#results li:last-child {
   border-radius: 0px 0px 5px 5px;
}

#results li:hover {
   background-color: #eee;
   cursor: pointer;
}

.results-body {
   margin: 5px 0 0 80px;
   float: left;
}
