//---------------------------------------------------------
// IMPORTS
//---------------------------------------------------------

@import "less.scss";


//---------------------------------------------------------
// DEFINITIONS
//---------------------------------------------------------

$font-sans: 'PT Sans', serif;
$font-serif: 'PT Serif', serif;

$artist-bg: #f6f6f6;

@mixin text-one-line {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin less($attr, $default, $tablet, $wide-mobile, $mobile) {
   #{$attr}: $default;
   @media only screen and (min-width: 768px) and (max-width: 991px) {
      #{$attr}: $tablet;
   }
   @media only screen and (max-width: 767px) {
      #{$attr}: $mobile;
   }
   @media only screen and (min-width: 480px) and (max-width: 767px) {
      #{$attr}: $wide-mobile;
   }
}

//---------------------------------------------------------
// STYLES
//---------------------------------------------------------

body {
   font-family: $font-serif;
   margin: 0 auto;
}

li {
   list-style-type: none;
}

header {
   h1 {
      @include less("width", 436px, 252px, 252px, 252px);
      @include less("height", 84px, 60px, 60px, 60px);
      float: left;

      // this should be cleaner
      @media only screen and (min-width: 768px) and (max-width: 991px) {
         font-size: 42px;
         line-height: 48px;
      }
      @media only screen and (max-width: 767px) {
         font-size: 42px;
         line-height: 48px;
      }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
         font-size: 42px;
         line-height: 48px;
      }

   }

   nav {
      @include less("width", 436px, 436px, 252px, 252px);
      @include less("height", 84px, 60px, 60px, 60px);

      float: right;
      height: 84px;
      position: relative;

      ul {
         position: absolute;
         bottom: 0;

         li {
            padding: 6px 18px 12px;
            margin-right: 8px;
            display: inline-block;
         }

         .active {
            background-color: white;
            border-radius: 4px 4px 0 0;
         }
      }
   }
}

#status {
    background-color: white;
    width: 896px;
    position: fixed;
    top: 0;
    color: black;
    height: 31px;
    text-align: center;
    display: none;
    z-index: 10;
}

#search {
   padding: 8px 16px 12px;
   background-color: white;
   height: 32px;
   margin: 12px 0 24px;
   border-radius: 4px;
   clear: both;

   input {
      @include less("width", 864px, 680px, 404px, 220px);
      font-family: $font-sans;
      border: none;
      font-size: 22px;

      &:focus {
         outline: none;
      }
   }
}

.artist {
   width: 436px;
   margin-bottom: 12px;
   height: 68px;
   display: inline-block;
   background-color: $artist-bg;
   border-radius: 4px;

   &:hover {
      background-color: white;
      cursor: pointer;
   }

   &:nth-child(odd) {
      margin-right: 24px;
   }
   
   .default-img {
      border-radius: 4px 0 0 4px;
      width: 68px;
      position: absolute;
      height: 68px;
      float: left;
      background: {
         image: url("/img/noartistimg.jpg");
         repeat: no-repeat;
         position: center;
         size: 100%;
      }
   }

   .artist-img {
      @extend .default-img;
    }

   .text {
      width: 352px;
      height: 68px;
      float: right;
      padding: 0 8px;

      .title {
         font-size: 18px;
         float: left;
      }

      .disambig {
         @include text-one-line;
         width: 338px;
         float: left;
         color: #999;
      }

      .info {
         font-size: 14px;
         line-height: 20px;
         float: left;
         width: 169px;
         color: #aaa;
      }

      .tags {
         @include text-one-line;
         font-size: 14px;
         line-height: 20px;
         float: right;
         width: 169px;
         color: #aaa;
         height: 20px;
      }
   }
}
